
h1 {
colour: #098489;
colour: #00b5ad;
colour: #86d0cc;

colour: #312f40;
colour: #3f3a60;
colour: #5c5377;
colour: #c7b2d6;

colour: #252a2d;
colour: #656868;
colour: #9fa4a6;
colour: #d3dce5;

colour: #f4f7fc;
colour: #ffffff;
}